
      body{
      background: #EEAECA;
      background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
       color: #111827;
      }
      .navbarme{
      /* background: rgba(255, 255, 255, 0.596); */
       /* box-shadow: 5px 3px 4px gray; */
       border-radius: 100px;
       margin-top: 5px;
       padding-left: 30px;

            
    }

    .navdivide{
      height: auto;
      width: auto;
      /* border: 2px solid green; */
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
    }
    .logo{
    padding-left: 30px;
    color: black;

    }
    .currency{
        height: auto;
        width: auto;
        /* border: 2px solid yellow; */
        padding-right: 60px;
    }
    .currency a{
      text-decoration: none;
      color: white;
    }
    .currency button{
      background-color: #280A3E;
      border-radius: 100px;
      color: white;
      padding: 5px;
      padding-left: 15px;
      padding-right: 15px;
      box-shadow: gray;
      border: black;
    }
   h1{
    text-align: center;
     margin: 10px;
      padding: 10px;
     box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08); /* wide but light */
      border-radius: 20px;
      background: transparent;
   }
   .overview{
     margin: 15px;
     padding: 15px;
     width: 100%;
     height: 300px;
    box-shadow: 5px 5px 15px gray;
     border-radius: 15px;
   background: transparent;

    
   }
   .overview p{
    margin-top: 20px;
    font-size: large;
    color: #1f2937;
   }
   .overview li{
    margin-top: 20px;
    font-size: large;
        color: #1f2937;

   }
    