
      body{
        background-color:  white;
        color: #111827;
      }
      .navbarme{
      background: rgba(255, 255, 255, 0.596);
       box-shadow: 5px 3px 4px gray;
       border-radius: 100px;
       margin-top: 5px;
       padding-left: 30px;

            
    }
   h1{
    text-align: center;
     margin: 10px;
      padding: 10px;
     box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08); /* wide but light */
      border-radius: 20px;
      background-color: #F1F6F9;
   }
   .overview{
     margin: 15px;
     padding: 15px;
     width: 100%;
     height: 300px;
    box-shadow: 5px 5px 15px gray;
     border-radius: 15px;
     background-color: #F1F6F9;


    
   }
   .overview p{
    margin-top: 20px;
    font-size: large;
    color: #1f2937;
   }
   .overview li{
    margin-top: 20px;
    font-size: large;
        color: #1f2937;

   }
    