*{
    margin: 0px;
    padding: 0px;
}
body{
     
     background-color:white;
      color: #e6e9f5;
    
}
.navbarme{
      background: rgba(255, 255, 255, 0.596);
       box-shadow: 5px 3px 4px gray;
       border-radius: 100px;
       margin-top: 5px;
       padding-left: 30px;

            
    }
.sticky-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

header h1{
  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 50px; 
   /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);*/
   color: #1f2937;

}
#htitle{
     color: #e6e9f5;
    margin-left: 14px;
     /* color: #e6e9f5; */
     color: #4f46e5;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.mcontent{
    margin-top: 50px;
    height: auto;
    width: 80%;
     border-radius: 10px;
    margin-left: 14px;
   box-shadow: 5px 5px 15px gray;

    background-color:#F1F6F9;
     border-color: rgba(0,0,0,0.3);
     display: flex;
     flex-direction: row;



    
}
.mcontent h2{
    margin-left: 9px;
    margin-top: 7px;
    color: #111827;
}
.mcontent h5{
     margin-left: 9px;
      color: #e6e9f5;
}
.choose{
    margin-left: 9px;
}
#city{
    margin-top: 10px;
    height: 40px;
    width: 40%;
    background-color:#d3d4e6;;
    border-radius: 4px;
    border-color: rgba(0,0,0,0.3);
     color: #111736;
      border: 1px solid #bdc3c7;
}
#state{
     margin-top: 10px;
    height: 40px;
    width: 40%;
    background-color:#d3d4e6;;
    border-radius: 4px;
    border-color: rgba(0,0,0,0.3);
     color: #111736;
      border: 1px solid #bdc3c7;

}
#statesdiv{
     margin-left: 9px;
    margin-top: 10px;
        color: #a5b4fc;
        margin-bottom: 10px;
}
.area h5{
    margin-left: 9px;
    margin-top: 10px;
     color: #a5b4fc;

}
.proprt{
    margin-left: 9px;
    /* background-color:#f0f3f8 ; */
    height: 40px;
    width: 40%;
    padding-left: 9px;
    border-radius: 4px;
    border-color: rgba(0,0,0,0.3);
     background-color:#d3d4e6;

     border: 1px solid #bdc3c7;
}
.hmargin{
    margin-top: 10px;
   
}
#subcity{
     margin-left: 2px;
     margin-top: 8px;
    /* background-color:#f0f3f8 ; */
    height: 40px;
    width: 40%;
    /* padding-left: 9px; */
    border-radius: 4px;
    border-color: rgba(0,0,0,0.3);
     background-color:#d3d4e6;

     border: 1px solid #bdc3c7;
}
.subcity h5{
    margin-top: 9px;
}

.areatype h5{
    margin-top: 9px;
}
.areatype select{
     margin-left: 9px;
     margin-top: 8px;
    /* background-color:#f0f3f8 ; */
    height: 40px;
    width: 40%;
    /* padding-left: 9px; */
    border-radius: 4px;
    border-color: rgba(0,0,0,0.3);
     background-color:#d3d4e6;

     border: 1px solid #bdc3c7;
}
.specialcase select{
 margin-left: 9px;
     margin-top: 8px;
    /* background-color:#f0f3f8 ; */
    height: 40px;
    width: 40%;
    /* padding-left: 9px; */
    border-radius: 4px;
    border-color: rgba(0,0,0,0.3);
     background-color:#d3d4e6;

     border: 1px solid #bdc3c7;
}
.specialcase h5{
    margin-top: 9px;
}
.equal{
    height: auto;
    width: 50%;
}
.equal2{
    height: auto;
    width: 50%;
    border: 2 px solid yellow;
}
.stories input{
     margin-left: 9px;
     margin-top: 8px;
    /* background-color:#f0f3f8 ; */
    height: 40px;
    width: 40%;
    /* padding-left: 9px; */
    border-radius: 4px;
    border-color: rgba(0,0,0,0.3);
     background-color:#d3d4e6;

     border: 1px solid #bdc3c7;
}
.stories h5{
    margin-top: 10px;
}
.bedrooms input{
    margin-left: 9px;
     margin-top: 8px;
    /* background-color:#f0f3f8 ; */
    height: 40px;
    width: 40%;
    /* padding-left: 9px; */
    border-radius: 4px;
    border-color: rgba(0,0,0,0.3);
     background-color:#d3d4e6;

     border: 1px solid #bdc3c7;

}
.bedrooms h5{
    margin-top: 10px;
}
.kitchen h5{
    margin-top: 10px;
}
.kitchen input{
     margin-left: 9px;
     margin-top: 8px;
    /* background-color:#f0f3f8 ; */
    height: 40px;
    width: 40%;
    /* padding-left: 9px; */
    border-radius: 4px;
    border-color: rgba(0,0,0,0.3);
     background-color:#d3d4e6;

     border: 1px solid #bdc3c7;

}
.furnished{
    margin-top: 10px;
}
.furnished select{
    margin-left: 9px;
     margin-top: 8px;
    /* background-color:#f0f3f8 ; */
    height: 40px;
    width: 40%;
    /* padding-left: 9px; */
    border-radius: 4px;
    border-color: rgba(0,0,0,0.3);
     background-color:#d3d4e6;

     border: 1px solid #bdc3c7;
}
.livingr h5{
    margin-top: 10px;
}
.livingr input{
    margin-left: 9px;
     margin-top: 8px;
    /* background-color:#f0f3f8 ; */
    height: 40px;
    width: 40%;
    /* padding-left: 9px; */
    border-radius: 4px;
    border-color: rgba(0,0,0,0.3);
     background-color:#d3d4e6;

     border: 1px solid #bdc3c7;
     margin-bottom: 50px;
}
.housesize h5{
    margin-top: 10px;
}
.housesize select{
    margin-left: 9px;
     margin-top: 8px;
    /* background-color:#f0f3f8 ; */
    height: 40px;
    width: 40%;
    /* padding-left: 9px; */
    border-radius: 4px;
    border-color: rgba(0,0,0,0.3);
     background-color:#d3d4e6;

     border: 1px solid #bdc3c7;
}
.predictbtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.predictbtn button{
    margin-top: 20px;
    padding: 10px;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
    color: #d3d4e6;
    background-color: #4f46e5;
    box-shadow: 5px 10px 15px black;
}