
    body{
      background: #EEAECA;
      background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
       color: #111827;
      }
      .navbarme{
      /* background: rgba(255, 255, 255, 0.596); */
       /* box-shadow: 5px 3px 4px gray; */
       border-radius: 100px;
       margin-top: 5px;
       padding-left: 30px;

            
    }

    .navdivide{
      height: auto;
      width: auto;
      /* border: 2px solid green; */
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
    }
    .logo{
    padding-left: 30px;
    color: black;

    }
    .currency{
        height: auto;
        width: auto;
        /* border: 2px solid yellow; */
        padding-right: 60px;
    }
    .currency a{
      text-decoration: none;
      color: white;
    }
    .currency button{
      background-color: #280A3E;
      border-radius: 100px;
      color: white;
      padding: 5px;
      padding-left: 15px;
      padding-right: 15px;
      box-shadow: gray;
      border: black;
    }
    .container {
      max-width: 80%;
      margin: 50px auto;
      background-color: transparent;
      padding: 30px;
      border-radius: 12px;
       box-shadow: 15px 15px 50px gray;
    }
    h1, h2 {
      color: #14274E;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 15px;
    }
    ul {
      margin-left: 20px;
      margin-bottom: 15px;
    }
    a {
      color: #4f46e5;
      text-decoration: none;
    }
  
    hr {
  border: none;             
  height: 4px;              
  background-color: #4A4947;
  border-radius: 2px;       
  margin: 20px 0;           
}
 .navbarme{
      /* background: rgba(255, 255, 255, 0.596);
       box-shadow: 5px 3px 4px gray; */
       border-radius: 100px;
       margin-top: 5px;
       padding-left: 30px;

            
    }
  