
 body {
      background-color: white;
      font-family: "Inter", sans-serif;
      color: #1f2937;
      line-height: 1.6;
    }
    .container {
      max-width: 80%;
      margin: 50px auto;
      background-color: #E8E8E8;
      padding: 30px;
      border-radius: 12px;
       box-shadow: 15px 15px 50px gray;
    }
    h1, h2 {
      color: #14274E;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 15px;
    }
    ul {
      margin-left: 20px;
      margin-bottom: 15px;
    }
    a {
      color: #4f46e5;
      text-decoration: none;
    }
  
    hr {
  border: none;             
  height: 4px;              
  background-color: #4A4947;
  border-radius: 2px;       
  margin: 20px 0;           
}
 .navbarme{
      background: rgba(255, 255, 255, 0.596);
       box-shadow: 5px 3px 4px gray;
       border-radius: 100px;
       margin-top: 5px;
       padding-left: 30px;

            
    }
  